<!DOCTYPE html>
<html>
<head>
	<title>usuario_profesional</title>
</head>
<body>
	<aside id="aside_materia_estu">
	     <div id="btn_cate_materia_estu"> CATEGORIAS </div>
			<div id="lista_categoria_materia_estu">
				<a href="" > Ing.Telematica</a> <br>
				<a href=""> Ing.Sistema</a>
		</div>
			
	</aside>
  	<div id="preguntas_materia_estu">
				<p> IPV_6 </p>
				<a href=""> Despligue ipv_6.pdf </a>
				<p>En este documento podras aprender desde el nivel basico hasta el mas abazado paso a paso</p> 
	</div>
</body>
</html>
