<!DOCTYPE html>
<html>
<head>
	<title>Iniciando secion</title>
</head>
<body>
     <div id="entrar">
	     <div id="entrar_centrar">
	     	Usuario:  <input type="text" name=""> <br>
	        Contraseña: <%= password_field_tag(:password) %>
	        <input name="login" id="btn_login" type="submit" value="Entrar" />
	     </div>
     </div>
</body>
</html>
