<!DOCTYPE html>
<html>
<head>
	<title>usuario_profesional</title>
</head>
<body>
	<aside id="aside_materia_pro">
	     <div id="btn_cate_materia_pro"> CATEGORIAS </div>
			<div id="lista_categoria_materia_pro">
				<a href="" > Ing.Telematica</a> <br>
				<a href=""> Ing.Sistema</a>
		</div>
			
	</aside>
  	<div id="preguntas_materia_pro">
			<form accept-charset="UTF-8" action="/articles" method="post"  id="formulario">
			  Contenido: <input id="conte" name="contenido" type="text" /> <br>
			  Descripcion: <textarea id="comentario-text" > </textarea> <br> 	
			  <input name="enviar" type="submit" value="enviar" />
			</form>
	</div>
</body>
</html>

