<!DOCTYPE html>
<html>
<head>
	<title>usuario_profesional</title>
</head>
<body>
	<aside id="aside_profesional">
	     <div id="btn_cate_profesional"> CATEGORIAS </div>
			<div id="lista_categoria_profesional">
				<a href="" > Ing.Telematica</a> <br>
				<a href=""> Ing.Sistema</a>
		</div>
			
	</aside>
  	<div id="preguntas_profesional">
	  <%= image_tag("fondo.png") %>		
	</div>
</body>
</html>
