<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>uniting-university/home/index</title>
  </head>
  <body>

    <div id="home">
        <div class="imagen_logo">
          <ul>
            <li><a href= "/reg_estudiante/index"  ><%= image_tag 'img1.png'%></a></li>
            <li><a href= "/reg_profesional/index" ><%= image_tag 'illustrador-03.png'%></a></li>
            <li><a href= "/visitante/index" ><%= image_tag 'illustrador-04.png'%></a></li>
          </ul>
        </div>
        <div class="">
          <p> La Aplicación Uniting Universities, trata de solucionar de forma sustancial los aspectos esenciales de los modelos educativos presenciales y virtuales, valiéndose en los conocimientos colaborativos de docentes de las ramas científicas, correspondientes a las categorías que se definen en la Aplicación y en aquellos recursos al igual que materiales que pueden ser de mayor relevancia para el docente en cuanto a su aplicación en el aula y a su auto formación, (Actualizaciones). A esta finalidad, responde coherentemente su estructura, dedicando un capítulo inicial para la presentación de la Aplicación, seguido de cinco vistas donde se profundiza sobre las posibilidades delos  encontrar una respuesta efectiva a las incógnitas, que se presentan a diario a los estudiantes en las diferentes materias en su proceso de aprendizaje mismos que muchas veces suelen encontrar material de muy baja calidad aportando de una manera pobre o negativa los conocimientos a los estudiantes.</p>
        </div>
    </div>
  <footer>
    <div class="">
      <h4>Todos los derechos reservados we are one</h4>
    </div>
  </footer>
</body>
</html>
