<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>uniting-university/home/index</title>
  </head>
  <body>

    <div id="home">
        <div class="imagen_logo">
          <tr>
            <td class="tama"><%= link_to image_tag "img 1.png", {:controller => 'regis_estudiantes', :action => 'index'} %></td>
            <td class="tama"><%= link_to image_tag "hackathon diseño illustrador-03.png", :alt => "profesional", :title => "profesional"%></td>
            <td class="tama" ><%= link_to image_tag "hackathon diseño illustrador-04.png", :alt => "Visitante", :title => "Visitante"%></td>
          </tr>
        </div>
    </div>
  <footer>
    <div class="">
      <h4>Todos los derechos reservados we are one</h4>
    </div>
  </footer>
</body>
</html>
