<!DOCTYPE html>
<html>
<head>
	<title>visitante</title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheet/visitante.css">
</head>
<body>
	<aside id="aside_visitante">
	     <div id="btn_cate_vistante"> CATEGORIAS </div>
			<div id="lista_categoria_visitante">
				<a href="" > Ing.Telematica</a> <br>
				<a href=""> Ing.Sistema</a>
			</div>
			
	</aside>
    <div id="preguntas_visitante">
				<p> Funciones para reservar memoria en c? </p>
				<p> R=  Puedes usar malloc </p>
	</div>

</body>
</html>