<!DOCTYPE html>
<html>
<head>
	<title>visitante</title>
</head>
<body>
	<aside id="aside_visitante">
	     <div id="btn_cate_vistante"> CATEGORIAS </div>
			<div id="lista_categoria_visitante">
				<a href="" > Ing.Telematica</a> <br>
				<a href=""> Ing.Sistema</a>
			</div>
			
	</aside>
    <div id="preguntas_visitante">
		<%= image_tag("fondo.png") %>
	</div>

</body>
</html>