<!DOCTYPE html>
<html>
<head>
	<title>usuario_estudiante</title>
</head>
<body>
	<aside id="aside_estudiante">
	     <div id="btn_cate_estudiante"> CATEGORIAS </div>
			<div id="lista_categoria_estudiante">
				<a href="" > Ing.Telematica</a> <br>
				<a href=""> Ing.Sistema</a>
		</div>
			
	</aside>
  	<div id="preguntas_estudiante">
		<%= image_tag("fondo.png") %>
	</div>
</body>
</html>