/*body{
	margin-left: 20px;
    margin-right: 20px;
}

#aside_estudiante{
background: #189;
width: 150px;
margin-top: 70px;
}
#btn_cate_estudiante{
color: #fff;
font-size: 1.2em;
}
#lista_categoria_estudiante{
background: #1a7;
height: 500px;	
}
#lista_categoria_estudiante img{
	width: 134px;
	height: 45px;
}
#preguntas_estudiante{
	background: #a29;
	margin-left:150px;
    margin-top: -538px;
    height: 522px;
}
#btn_cate_estudiante img{
	width: 150px;
	height: 45px;
}
#lista img{
	width: 134px;
	height: 45px;
}
#check img{
	width: 20px;
	height: 20px;
}

*/
#tam1{
	width: 50px; 
	height:20px;
	background-color: #088A85;

}
#term img{
	width: 150px; 
	height:60%;
	background-color: #088A85;
}
#term1 img{
	width: 150px; 
	height:60%;
	background-color: #088A85;
}

#color{
	background-color: yellow;
}

#ya{
	background-color: #088A85;
}