body{
	margin-left: 20px;
    margin-right: 20px;
}
#aside_profesional{
background: #189;
width: 150px;

}
#btn_cate_profesional{
color: #fff;
font-size: 1.2em;
}
#lista_categoria_profesional{
background: #1a7;
height: 500px;
padding-top:10%;
}
#preguntas_profesional{
	 position: relative;
    background: #CDBFEB;
	margin-left:150px;
    margin-top: -539px;
    height: 522px;
}
#preguntas_profesional img{
    position: relative;
	height:100%;
	width:100%;
	margin-bottom:20px;
}