/* dandole estilo al body*/
body{
margin-left: 20px;
margin-right: 20px;


}
#aside_visitante{
	background: #189;
	width: 150px;
	margin-top: 70px;
	}
#btn_cate_vistante{
color: #fff;
font-size: 1.2em;
}
#lista_categoria_visitante{
background: #1a7;
height: 500px;	
}
#preguntas_visitante{
	background: #a29;
	margin-left:150px;
    margin-top: -538px;
    height: 522px;
	}
